x054/x054 - Particle Cloud.json
[{"id":"a24ef0ad.e2bcd8","type":"tab","label":"x054 - Particle Cloud","disabled":false,"info":""},{"id":"1847454d.10ff4b","type":"debug","z":"a24ef0ad.e2bcd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":711,"y":58,"wires":[]},{"id":"97116041.f7a4f8","type":"debug","z":"a24ef0ad.e2bcd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":719,"y":323,"wires":[]},{"id":"18a998fe.d538c7","type":"mqtt in","z":"a24ef0ad.e2bcd8","name":"","topic":"x054_batteryVoltage","qos":"2","broker":"5e3257f6.107fd","x":121,"y":479,"wires":[["6ffcbbbe.a7d9c4","ad3633a3.0ccd1"]]},{"id":"d57e6fe5.a29fa8","type":"mqtt in","z":"a24ef0ad.e2bcd8","name":"","topic":"x054_chargeAmp","qos":"2","broker":"5e3257f6.107fd","x":112,"y":552,"wires":[["97c7cd10.629a"]]},{"id":"82f819a8.99b3a","type":"mqtt in","z":"a24ef0ad.e2bcd8","name":"","topic":"x054_solarPower","qos":"2","broker":"5e3257f6.107fd","x":115,"y":417,"wires":[["55f7b8e9.69bf18"]]},{"id":"a73c8c32.5c781","type":"ui_text","z":"a24ef0ad.e2bcd8","group":"ff0d9f7c.c9273","order":2,"width":0,"height":0,"name":"BatteryVoltage","label":"text","format":"{{msg.topic}}","layout":"row-spread","x":721,"y":226,"wires":[]},{"id":"20536d15.2f819a","type":"ui_text","z":"a24ef0ad.e2bcd8","group":"ccfffff6.28c28","order":1,"width":0,"height":0,"name":"batteryVoltage","label":"text","format":"{{msg.payload | number:1}}","layout":"row-spread","x":725,"y":107,"wires":[]},{"id":"c28bffc0.a562b","type":"ui_text","z":"a24ef0ad.e2bcd8","group":"ff0d9f7c.c9273","order":2,"width":0,"height":0,"name":"batteryVoltage","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":720,"y":276,"wires":[]},{"id":"6ffcbbbe.a7d9c4","type":"ui_text","z":"a24ef0ad.e2bcd8","group":"4f2bcad4.b22244","order":3,"width":0,"height":0,"name":"","label":"Laddningsspänning","format":"{{msg.payload}}","layout":"row-spread","x":765,"y":474,"wires":[]},{"id":"e31bc99d.d8c35","type":"ui_gauge","z":"a24ef0ad.e2bcd8","name":"","group":"ff0d9f7c.c9273","order":1,"width":0,"height":0,"gtype":"gage","title":"batteryVoltage","label":"Volt","format":"{{msg.data}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":721,"y":179,"wires":[]},{"id":"55f7b8e9.69bf18","type":"ui_gauge","z":"a24ef0ad.e2bcd8","name":"","group":"4f2bcad4.b22244","order":2,"width":0,"height":0,"gtype":"gage","title":"Effekt","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00B500","#E6E600","#CA3838"],"seg1":"","seg2":"","x":725,"y":411,"wires":[]},{"id":"ad3633a3.0ccd1","type":"ui_chart","z":"a24ef0ad.e2bcd8","name":"","group":"ef54c5b9.5d639","order":1,"width":0,"height":0,"label":"Voltage trend","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":747,"y":529,"wires":[[]]},{"id":"97c7cd10.629a","type":"ui_chart","z":"a24ef0ad.e2bcd8","name":"","group":"ef54c5b9.5d639","order":1,"width":"0","height":"0","label":"Ampere","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1F77B4","#AEC7E8","#FF7F0E","#2CA02C","#98DF8A","#D62728","#FF9896","#9467BD","#C5B0D5"],"useOldStyle":false,"outputs":1,"x":747,"y":640,"wires":[[]]},{"id":"14444057.8e98a8","type":"particle-SSE","z":"a24ef0ad.e2bcd8","pcloud":"","subscribetype":"devid","devprodslug":"33002d000947373034353237","devid":"","evtname":"x054_batteryVoltage","strict":0,"x":256,"y":180,"wires":[["e31bc99d.d8c35","a73c8c32.5c781","c28bffc0.a562b","97116041.f7a4f8"]]},{"id":"ba8e6b84.0a3dd8","type":"particle-var","z":"a24ef0ad.e2bcd8","pcloud":"","devid":"33002d000947373034353237","getvar":"x054_batteryVoltage","productIdOrSlug":"","repeat":"20","once":false,"x":236,"y":64,"wires":[["20536d15.2f819a","1847454d.10ff4b"]]},{"id":"5e3257f6.107fd","type":"mqtt-broker","z":"","name":"Heikkis USA server","broker":"skinny.skycharts.net","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""}]