x054/x054-Functions-Varables.json
[{"id":"d0593418.72922","type":"tab","label":"x054: Functions & Varables","disabled":false,"info":""},{"id":"5b1c3715.52c21","type":"inject","z":"d0593418.72922","name":"LED on","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":61,"wires":[["68e18e08.4a80d"]]},{"id":"50a060c5.d376b8","type":"inject","z":"d0593418.72922","name":"LED off","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":129,"wires":[["68e18e08.4a80d"]]},{"id":"d5335241.4b877","type":"debug","z":"d0593418.72922","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":824,"y":99,"wires":[]},{"id":"f60529e0.e2104","type":"ui_button","z":"d0593418.72922","name":"","group":"c99d67b.ee46218","order":1,"width":0,"height":0,"passthru":false,"label":"Check A0","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":160,"y":271,"wires":[["a0e9563.4f19828"]]},{"id":"c7b4aa68.4eba18","type":"ui_button","z":"d0593418.72922","name":"","group":"c99d67b.ee46218","order":3,"width":0,"height":0,"passthru":false,"label":"Check A1","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":157,"y":358,"wires":[["5e2d5dfd.e6f574"]]},{"id":"c0292ed2.66348","type":"ui_text","z":"d0593418.72922","group":"c99d67b.ee46218","order":2,"width":0,"height":0,"name":"","label":"Analog read (A0) :","format":"{{msg.payload}}","layout":"row-spread","x":831,"y":271,"wires":[]},{"id":"8f44818.be2688","type":"ui_text","z":"d0593418.72922","group":"c99d67b.ee46218","order":4,"width":0,"height":0,"name":"","label":"Analog read (A1) :","format":"{{msg.payload}}","layout":"row-spread","x":817,"y":354,"wires":[]},{"id":"e1b4da7f.c1e0a","type":"ui_text","z":"d0593418.72922","group":"c99d67b.ee46218","order":5,"width":0,"height":0,"name":"","label":"SSE all","format":"{{msg.payload}}","layout":"row-spread","x":793,"y":513,"wires":[]},{"id":"6bf4a195.3997c","type":"particle-SSE","z":"d0593418.72922","pcloud":"","subscribetype":"devid","devprodslug":"33002d000947373034353237","devid":"","evtname":"","strict":0,"x":409,"y":507,"wires":[["e1b4da7f.c1e0a"]]},{"id":"68e18e08.4a80d","type":"particle-func","z":"d0593418.72922","pcloud":"","devid":"33002d000947373034353237","fname":"doLED","param":"","productIdOrSlug":"","repeat":0,"once":false,"x":498,"y":93,"wires":[["d5335241.4b877"]]},{"id":"a0e9563.4f19828","type":"particle-var","z":"d0593418.72922","pcloud":"","devid":"33002d000947373034353237","getvar":"aValue","productIdOrSlug":"","repeat":0,"once":false,"x":446,"y":272,"wires":[["c0292ed2.66348"]]},{"id":"5e2d5dfd.e6f574","type":"particle-var","z":"d0593418.72922","pcloud":"","devid":"33002d000947373034353237","getvar":"bValue","productIdOrSlug":"","repeat":0,"once":false,"x":457,"y":356,"wires":[["8f44818.be2688"]]}]