x053/Example-Publish-SSE.json
[{"id":"3de77166.615c56","type":"tab","label":"Example: Publish & SSE","disabled":false,"info":""},{"id":"a34cf93d.5cad9","type":"inject","z":"3de77166.615c56","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":207,"y":169,"wires":[["165e40de.de84df"]]},{"id":"184c27cc.4acfa","type":"debug","z":"3de77166.615c56","name":"result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":651,"y":259,"wires":[]},{"id":"5ab375ae.5c75a4","type":"debug","z":"3de77166.615c56","name":"result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":557,"y":169,"wires":[]},{"id":"d4baf3b5.013d8","type":"particle-SSE","z":"3de77166.615c56","pcloud":"","subscribetype":"devid","devprodslug":"250024000747363339343638","devid":"","evtname":"myEvent","strict":0,"x":327,"y":260,"wires":[["184c27cc.4acfa"]]},{"id":"165e40de.de84df","type":"particle-pub","z":"3de77166.615c56","pcloud":"","evtname":"myEvent","param":"","productIdOrSlug":"","private":false,"evtnametopic":false,"ttl":60,"repeat":0,"once":false,"x":387,"y":169,"wires":[["5ab375ae.5c75a4"]]}]