x053/x053-Functions-variables.json
[{"id":"6654466e.d8273","type":"tab","label":"x053: Function & Variables","disabled":false,"info":""},{"id":"46f38df4.edf12c","type":"inject","z":"6654466e.d8273","name":"LED on","topic":"param","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":35,"wires":[["f2943e32.984b48"]]},{"id":"e6e12a57.fc094","type":"inject","z":"6654466e.d8273","name":"LED off","topic":"param","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":141,"y":129,"wires":[["f2943e32.984b48"]]},{"id":"52999053.1daab","type":"debug","z":"6654466e.d8273","name":"result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":805,"y":85,"wires":[]},{"id":"10a84392.d14c4c","type":"inject","z":"6654466e.d8273","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":138,"y":231,"wires":[["bec829a4.6f51"]]},{"id":"12cda0e5.1e62ff","type":"debug","z":"6654466e.d8273","name":"result","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":778,"y":211,"wires":[]},{"id":"4f644c6f.bef124","type":"debug","z":"6654466e.d8273","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":703,"y":441,"wires":[]},{"id":"f3ce3b4a.2c1eb8","type":"ui_button","z":"6654466e.d8273","name":"","group":"c905a376.e7b558","order":4,"width":0,"height":0,"passthru":false,"label":"Check A0","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":117,"y":309,"wires":[["bec829a4.6f51"]]},{"id":"ff19429d.a95e08","type":"ui_button","z":"6654466e.d8273","name":"","group":"5f275201.c23024","order":3,"width":0,"height":0,"passthru":false,"label":"Check A1","tooltip":"read A1","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":122,"y":362,"wires":[["1bdcd346.9758c5"]]},{"id":"b3fd1651.1e4e8","type":"ui_text","z":"6654466e.d8273","group":"c905a376.e7b558","order":3,"width":0,"height":0,"name":"","label":"Analog read (A0) :","format":"{{msg.payload}}","layout":"row-center","x":768,"y":283,"wires":[]},{"id":"c4e8a582.0f0e18","type":"ui_text","z":"6654466e.d8273","group":"5f275201.c23024","order":3,"width":0,"height":0,"name":"","label":"Analog read (A1) :","format":"{{msg.payload}}","layout":"row-center","x":769,"y":353,"wires":[]},{"id":"d68b9cad.9bed98","type":"ui_text","z":"6654466e.d8273","group":"9c9cf659.523f8","order":1,"width":0,"height":0,"name":"","label":"SSE all x053","format":"{{msg.payload}}","layout":"row-spread","x":707,"y":514,"wires":[]},{"id":"668ce9f1.bb3b58","type":"particle-SSE","z":"6654466e.d8273","pcloud":"","subscribetype":"all","devprodslug":"x042-001-sn0001","devid":"","evtname":"x053_batteryVoltage","strict":true,"x":168,"y":473,"wires":[["4f644c6f.bef124","d68b9cad.9bed98"]]},{"id":"f2943e32.984b48","type":"particle-func","z":"6654466e.d8273","pcloud":"","devid":"250024000747363339343638","fname":"doLED","param":"","productIdOrSlug":"1180","repeat":0,"once":false,"x":453,"y":80,"wires":[["52999053.1daab"]]},{"id":"bec829a4.6f51","type":"particle-var","z":"6654466e.d8273","pcloud":"","devid":"250024000747363339343638","getvar":"aValue","productIdOrSlug":"","repeat":0,"once":false,"x":408,"y":231,"wires":[["12cda0e5.1e62ff","b3fd1651.1e4e8"]]},{"id":"1bdcd346.9758c5","type":"particle-var","z":"6654466e.d8273","pcloud":"","devid":"250024000747363339343638","getvar":"bValue","productIdOrSlug":"","repeat":0,"once":false,"x":430,"y":333,"wires":[["c4e8a582.0f0e18"]]},{"id":"9c9cf659.523f8","type":"ui_group","z":"","name":"x053","tab":"2f49c067.2a3b98","disp":true,"width":"6","collapse":false},{"id":"2f49c067.2a3b98","type":"ui_tab","z":"","name":"Homepage","icon":"dashboard","disabled":false,"hidden":false}]