x053/x053-Mqtt.json
[{"id":"476ced2c.ea2bcc","type":"tab","label":"x053 - Mqtt ","disabled":false,"info":""},{"id":"feb3a86d.5b159","type":"mqtt in","z":"476ced2c.ea2bcc","name":"","topic":"x053_batteryVoltage","qos":"2","broker":"5e3257f6.107fd","x":210,"y":84,"wires":[["371bd817.a607f","2b1b160d.be8b32"]]},{"id":"cadb5687.9a2a6","type":"mqtt in","z":"476ced2c.ea2bcc","name":"","topic":"x053_chargeAmp","qos":"2","broker":"5e3257f6.107fd","x":196,"y":233,"wires":[["663e1d1b.d70c54","505b9efb.5e31a"]]},{"id":"f4ecdd43.6d82d","type":"debug","z":"476ced2c.ea2bcc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":774,"y":46,"wires":[]},{"id":"aa513c6b.089b5","type":"mqtt in","z":"476ced2c.ea2bcc","name":"x053_solarPower","topic":"x053_solarPower","qos":"2","broker":"5e3257f6.107fd","x":199,"y":359,"wires":[["f92f135e.6e30b"]]},{"id":"f4479257.8ac368","type":"ui_form","z":"476ced2c.ea2bcc","name":"","label":"Manuell inmatning","group":"c905a376.e7b558","order":5,"width":0,"height":0,"options":[{"label":"Wh","value":"Watt Hour","type":"text","required":true}],"formValue":{"Watt Hour":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":666,"y":472,"wires":[[]]},{"id":"371bd817.a607f","type":"ui_gauge","z":"476ced2c.ea2bcc","name":"","group":"9c9cf659.523f8","order":2,"width":0,"height":0,"gtype":"wave","title":"Voltmeter","label":"Volt","format":"{{value}}","min":0,"max":"60","colors":["#00B500","#E6E600","#CA3838"],"seg1":"","seg2":"","x":752,"y":121,"wires":[],"inputLabels":["batteryVoltage"]},{"id":"663e1d1b.d70c54","type":"ui_gauge","z":"476ced2c.ea2bcc","name":"Ampmeter","group":"9c9cf659.523f8","order":3,"width":0,"height":0,"gtype":"gage","title":"Ampmeter","label":"Ampere","format":"{{value}}","min":"-2","max":"10","colors":["#ca3838","#e6e600","#00b500"],"seg1":"0","seg2":"","x":645,"y":256,"wires":[],"inputLabels":["chargeAmp"]},{"id":"f92f135e.6e30b","type":"ui_gauge","z":"476ced2c.ea2bcc","name":"","group":"acfcc8c1.85429","order":1,"width":0,"height":0,"gtype":"gage","title":"Effekt","label":"Watt","format":"{{value}}","min":0,"max":"300","colors":["#00B500","#E6E600","#CA3838"],"seg1":"","seg2":"","x":672,"y":408,"wires":[]},{"id":"505b9efb.5e31a","type":"ui_chart","z":"476ced2c.ea2bcc","name":"","group":"acfcc8c1.85429","order":2,"width":0,"height":0,"label":"Ampere","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"bezier","nodata":"","dot":false,"ymin":"-2","ymax":"10","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":649,"y":305,"wires":[[]],"inputLabels":["chargeAmp"]},{"id":"2b1b160d.be8b32","type":"ui_chart","z":"476ced2c.ea2bcc","name":"","group":"b086afdd.034bf8","order":3,"width":"0","height":"0","label":"Volt wide","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":743,"y":187,"wires":[[]],"inputLabels":["batteryVoltage"]},{"id":"5e3257f6.107fd","type":"mqtt-broker","z":"","name":"Heikkis USA server","broker":"skinny.skycharts.net","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9c9cf659.523f8","type":"ui_group","z":"","name":"x053","tab":"2f49c067.2a3b98","disp":true,"width":"6","collapse":false},{"id":"acfcc8c1.85429","type":"ui_group","name":"Group 2","tab":"2f49c067.2a3b98","order":2,"disp":true,"width":6},{"id":"b086afdd.034bf8","type":"ui_group","z":"","name":"Group 3","tab":"2f49c067.2a3b98","order":3,"disp":true,"width":"6","collapse":false},{"id":"2f49c067.2a3b98","type":"ui_tab","z":"","name":"Homepage","icon":"dashboard","disabled":false,"hidden":false}]