MySQL/Mysql_flow2.json
[{"id":"b37ee02.08a1a2","type":"tab","label":"MySQL Test","disabled":true,"info":"This is a flow to demonstarte the MySQL node in Node-Red.\nWe measure the temperature of the Raspberry Pi's CPU and log it int the database."},{"id":"7ece001d.253648","type":"inject","z":"b37ee02.08a1a2","name":"Trigger","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":120,"wires":[["bf348058.561bd8"]]},{"id":"bf348058.561bd8","type":"exec","z":"b37ee02.08a1a2","command":"vcgencmd","addpay":true,"append":"measure_temp","useSpawn":"false","timer":"","oldrc":false,"name":"Command","x":330,"y":180,"wires":[["add73f9d.7152a8"],[],[]]},{"id":"add73f9d.7152a8","type":"function","z":"b37ee02.08a1a2","name":"Query","func":"/*\nIn this function I enter my Raspberry Pi's CPU\ntemperature using the command \"vcgencmd measure_temp\".\nI then store this temperature in the variable temp,\ndo the necessary formatting and then send a database\nquery to enter the temperature in a database named\nNode-RED-test and the field named Field in the table\nnamed test, every two seconds.\n*/\nvar temp = msg.payload.replace(\"temp=\", \"\").replace(\"'C\\n\", \"\"); //Only give the number\nquery = `INSERT INTO test(Field) VALUES(`+temp+`);`; //Creates query with the recorded temp value\nmsg.topic = query; //Put query into the msg.topic\nreturn msg; //Return the query","outputs":1,"noerr":0,"x":498,"y":253,"wires":[["d469629a.eea36","9140ccb0.bf6bf"]]},{"id":"d469629a.eea36","type":"debug","z":"b37ee02.08a1a2","name":"Query String","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","x":870,"y":420,"wires":[]},{"id":"9140ccb0.bf6bf","type":"mysql","z":"b37ee02.08a1a2","mydb":"c8eee50e.0170e8","name":"Database","x":676,"y":149,"wires":[["c1b5b484.3af7a"]]},{"id":"c1b5b484.3af7a","type":"debug","z":"b37ee02.08a1a2","name":"Payload (Status)","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":850,"y":180,"wires":[]},{"id":"c8eee50e.0170e8","type":"MySQLdatabase","z":"","host":"db-honeygood.ckqx35owoldy.eu-west-1.rds.amazonaws.com","port":"3306","db":"Node-RED-test","tz":""}]