MySQL/MySQL_flow3.json
[{"id":"3137c451.a0a98c","type":"tab","label":"Flow 2","disabled":true,"info":""},{"id":"c8f25f53.74e11","type":"mysql","z":"3137c451.a0a98c","mydb":"526efbb1.e485ac","name":"MYSQL","x":355,"y":240,"wires":[["fe75f015.94ae58","937bd212.f62e38"]]},{"id":"ed6b5ecb.0cf3b8","type":"function","z":"3137c451.a0a98c","name":"Criteria","func":"var timeE = msg.payload;\n//Restrict the query to pull the last 24hrs\n//of data instead of the whole db\nmsg.payload = (timeE - (1000*60*60*24));\n    node.status({text:msg.payload});\nreturn msg;","outputs":1,"noerr":0,"x":172,"y":241,"wires":[["c5aac6c2.0f04b8"]]},{"id":"52f1115d.303fb","type":"template","z":"3137c451.a0a98c","name":"Format query 2","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT\n CEILING(time/3600000)*3600000 AS timestamp,\n AVG(data1) AS `data1`,\n AVG(data2) AS `data2`\nFROM dbasename\nWHERE time > {{payload}}\nGROUP BY `timestamp`;","output":"str","x":361,"y":294,"wires":[[]]},{"id":"fe75f015.94ae58","type":"debug","z":"3137c451.a0a98c","name":"","active":true,"tosidebar":true,"console":false,"complete":"false","x":558,"y":240,"wires":[]},{"id":"913f90e.be34b7","type":"inject","z":"3137c451.a0a98c","name":"Timestamp","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":172,"y":191,"wires":[["ed6b5ecb.0cf3b8"]]},{"id":"f0594c8b.f7b838","type":"comment","z":"3137c451.a0a98c","name":"Flow to query database and format for chart","info":"","x":278,"y":141,"wires":[]},{"id":"c5aac6c2.0f04b8","type":"template","z":"3137c451.a0a98c","name":"Format query 1","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT data1,data2,time FROM dbasename WHERE time > {{payload}}","output":"str","x":357,"y":190,"wires":[["c8f25f53.74e11"]]},{"id":"937bd212.f62e38","type":"change","z":"3137c451.a0a98c","name":"Format data","rules":[{"t":"set","p":"payload","pt":"msg","to":"(\t  $series := [\t    { \"field\": \"data1\", \"label\": \"data1 label\" },\t    { \"field\": \"data2\", \"label\": \"data2 label\" }\t  ];\t  $xaxis := \"timestamp\";\t  [\t    {\t      \"series\": $series.label,\t      \"data\": $series.[\t        (\t          $yaxis := $.field;\t          $$.payload.{\t            \"x\": $lookup($, $xaxis),\t            \"y\": $lookup($, $yaxis)\t          }\t        )\t      ]\t    }\t  ]\t)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":561,"y":191,"wires":[["eb85f20f.1e8cf8"]]},{"id":"eb85f20f.1e8cf8","type":"ui_chart","z":"3137c451.a0a98c","name":"24 hours data","group":"2d817e12.da3272","order":2,"width":"0","height":"0","label":"Chart","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"colors":["#00e68c","#2d2da8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":737,"y":191,"wires":[[]]},{"id":"526efbb1.e485ac","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"nodered","tz":""}]