MySQL/Mysql_flow1.json
[{"id":"bfed51ee.0f9f98","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"682ccbdb.d922d4","type":"mysql","z":"bfed51ee.0f9f98","mydb":"c8eee50e.0170e8","name":"MYSQL","x":541,"y":204,"wires":[[]]},{"id":"64e13658.c4e868","type":"template","z":"bfed51ee.0f9f98","name":"Format data","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO `dbasename` (`data1`,`data2`,`time`) VALUES ({{data1}},{{data2}},{{time}})","output":"str","x":358,"y":204,"wires":[["682ccbdb.d922d4"]]},{"id":"c688173b.e3a2","type":"comment","z":"bfed51ee.0f9f98","name":"Flow to insert data into the database","info":"","x":218,"y":162,"wires":[]},{"id":"6fc221b0.6fc23","type":"inject","z":"bfed51ee.0f9f98","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":128,"y":201,"wires":[["64e13658.c4e868"]]},{"id":"c8eee50e.0170e8","type":"MySQLdatabase","z":"","host":"db-honeygood.ckqx35owoldy.eu-west-1.rds.amazonaws.com","port":"3306","db":"Node-RED-test","tz":""}]